:root {
    --white: #f9f9f9;
    --black: #36383f;
    --gray: #85888c;
    --lightgreen: #3cc47c;
    --darkgreen: #1e392a;
    --creme: #e9c893;
    --darkcreme: #d4932b;
    --tin: #828081;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: red; */
    /* border: 1px solid black; */
}

a { text-decoration: none; }

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-image: linear-gradient(var(--creme), var(--darkcreme));
}



.header {
    width: 100%;

    margin-bottom: 20px;
    
    border-bottom: 3px solid var(--darkcreme);

    position: sticky;
    top: 0;
}

.navTop {
    background-image: linear-gradient(to right, var(--creme), #d4932b);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo {
    width: 25vw;
    height: auto;

    display: inline-block;
    color: var(--white)
}

.navTop .icon { color: white; }

.navigation {
    /* position: relative; */
    overflow: hidden;
}

.navigation {
    display: none;

    text-align: center;
    
    /* background-color: var(--tin); */
    background-image: url("../assets/images/nav-bg2.png");
    
    border-bottom: 3px solid var(--white);

    box-shadow: inset 0 0 0 1000px rgba(28, 45, 24, 0.53); /* add dark overlay */
}

.navigation .background {
    width: 20px;
    height: auto;
}

.navigation .links {
    margin: 0 20vw;
}

.navigation .links:not(:last-of-type){
    border-bottom: 2px solid var(--white);
}

.navigation a {
    color: var(--white);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navigation .links:hover {
    background-color: var(--lightgreen);
    font-weight: bold;
    /* color: var(--white); */
}

.main {
    min-height: 100vh;
}

@media (min-width: 600px) {
    /* nav select {
        display: none;
    }

    nav ul {
        display: block;
    } */
}