:root {
    --white: #f9f9f9;
    --black: #36383f;
    --gray: #85888c;
    --lightgreen: #295532;
    --darkgreen: #1b4436;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: red; */
    /* border: 1px solid black; */
}

a { text-decoration: none; }

ul {list-style: none;}

body {
    min-height: 100vh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-image: linear-gradient( var(--darkgreen), var(--lightgreen));
}



header {
    /* position: sticky; */
    /* top: 0; */
    width: 100%;

    
}

.navTop {
    background-color: var(--darkgreen);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}


.logo {
    width: 25vw;
    height: auto;

    display: inline-block;
    color: var(--white)
}

.navTop .icon { color: white; }

.navigation {
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    overflow: hidden;
    /* background-color: var(--black); */
}

.navigation #myLinks {
    display: none;
    text-align: center;
    margin-bottom: 20px;
}

.navigation .links {
    border-bottom: 1px solid var(--white);
    margin: 0 10vw;
}

.navigation a {
    color: var(--white);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navigation .links:hover {
    background-color: var(--gray);
    /* color: var(--white); */
}

@media (min-width: 600px) {
    /* nav select {
        display: none;
    }

    nav ul {
        display: block;
    } */
}