:root {
    --white: #f9f9f9;
    --black: #36383f;
    --gray: #85888c;
    --lightgreen: #295532;
    --darkgreen: #1b4436;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: red; */
    border: 1px solid black;
}

a { text-decoration: none; }

ul {list-style: none;}

body {
    min-height: 100vh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, var(--lightgreen), var(--darkgreen));
}



header {
    /* position: sticky; */
    /* top: 0; */
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo {
    width: 20vw;
    height: auto;

    display: inline-block;
    color: var(--white)
}

.navigation {
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    overflow: hidden;
    /* background-color: var(--black); */
}

.navigation .links {
    display: none;
}

.navigation a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navigation .icon {
    /* background: black; */
  /* display: block; */
  /* position: absolute; */
  /* right: 0; */
  /* top: 0; */
}



@media (min-width: 600px) {
    /* nav select {
        display: none;
    }

    nav ul {
        display: block;
    } */
}